ALTER TABLE EMPLOYEE 
ADD CONSTRAINT EMPLOYEE_SALARY CHECK (SALARY >5400 )
ALTER TABLE SUPPLY
ADD CONSTRAINT SUPPLY_PRICE_CONST CHECK (SUPPLYAMOUNT < 100 );
ALTER TABLE products
ADD CONSTRAINT PRODUCTS_PRICE_CONST CHECK (PRICE < 100 );
